body {
  background-color:rgb(212, 228, 240);
}

.bg-image {
  object-fit: cover;
  width: 110%;
  height: 400px;
  position: absolute;
}

nav {
  width: 30vw;
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  margin-left: 65%;
}

.home,
.resume,
.contact {
  font-weight: bold;
  position: relative;
  text-decoration: none;
  font-family: Arial;
  color: white;
  font-size: 20px;
  letter-spacing: 0.5px;
  padding: 0 8px;
  margin-top: 10px;
}

.home:after {
  content: "";
  position: absolute;
  background-color: rgb(28, 146, 146);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}

.resume:after {
  content: "";
  position: absolute;
  background-color:  rgb(28, 146, 146);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}

.contact:after{
  content: "";
  position: absolute;
  background-color:  rgb(28, 146, 146);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}

.home:hover {
  color: rgb(11, 238, 238);
}

.resume:hover {
  color: rgb(11, 238, 238);
}

.contact:hover {
  color: rgb(11, 238, 238);
}

.home:hover:after {
  width: 55%;
}

.resume:hover:after {
  width: 69%;
}

.contact:hover:after {
  width: 69%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rgba(22, 34, 126, 0.5);
  border-radius: 50%;
  margin-left: 43%;
  overflow: hidden;
  margin-right: 20px;
}

.box::before {
  content: '';
  position: absolute;
  inset: -5px 70px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.box:hover::before {
  inset: -20px 0px;
}

@keyframes animate

{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box::after {
  content: '';
  position: absolute;
  inset: 6px;
  border-radius: 50%;
  z-index: 1;
}

.picture {
  position: absolute;
  object-fit: cover;
  border: solid rgb(36, 52, 102);
  width: 180px;
  height: 180px;
  border-radius: 90px;
}

.profile-content {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 7px;
}

.name {
  font-family: Arial;
  color:  rgb(96, 214, 214);
  font-size: 30px;
  margin-left: 20px;
}

.email-container {
  display: flex;
  align-items: center;
  width: 210px;
  padding: 5px;
  border-radius: 5px;
}

.email-container:hover {
  background-color: rgba(40, 204, 204, 0.5);
}

.email,
.github {
  font-family: Arial;
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-left: 5px;
}
 
.github-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 110px;
  padding: 6px;
  border-radius: 5px;
}

.github-container:hover {
  background-color:  rgba(40, 204, 204, 0.5);
}

.phone-container {
  display: flex;
  align-items: center;
  width: 120px;
  cursor: pointer;
  margin-left: 8px;
  border-radius: 5px;
}

.phone-container:hover {
  background-color: rgba(40, 204, 204, 0.5);
}

.phone-number {
  font-family: Arial;
  color: white;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 5px;
}

.about-me-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  width: 22%;
  height: 400px;
  background-color: rgb(2, 4, 24);
  margin-left: 10%;
  overflow: hidden;
  margin-top: 5%;
}

.about-me-content {
  position: absolute;
  font-family: Arial;
  width: 303px;
  height: 395px;
  border-radius: 15px;
  color: rgb(241, 232, 232);
  background-color: rgb(48, 118, 139);
  font-size: 17px;
}

.about-me-box::before {
  content: '';
  width: 35%;
  height: 150%;
  inset: -5px 60px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.about-me-box:hover::before {
  inset: -20px 0px;
}

@keyframes animate

{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.about-me-box::after {
  content: '';
  inset: 4px;
  z-index: 1;
}


@media screen and (max-width: 400px) {
  .bg-image {
    width: 110%;
    height: 60%;
  }
  nav {
    font-size: 15px;
    padding: 10px 45px;
    margin-left: -1px;
    background-color: rgb(30, 87, 161, 0.56);
    
  }
  .contact {
    margin-left: 15px;
  }
  .box {
    width: 200px;
    height: 200px;
    margin-left: 26%;
    margin-top: 10%;
  } 
  .profile-content {
   display: grid;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-top: 10%;
 }
 .about-me-box {
   border-radius: 20px;
   width: 83%;
   height: 400px;
   background-color: rgb(2, 4, 24);
   margin-left: 10%;
   overflow: hidden;
   margin-top: 30%;
 }
}
